/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table.mat-table {
    width: 100%;
}
.mat-header-cell{
background-color: #17a2b8;
color:white;
}
.mat-table {
    background: #f6f2f2 !important;
    border: ridge !important;
}
  .header-cell {
    display: inline  !important;
    align-items: center  !important;
    text-align: center !important;
    padding: 22px 2px !important;
}
